<div
  class="flex flex-row flex-wrap justify-center items-center mx-auto max-w-7xl px-6 lg:px-8"
>
  <div class="w-full lg:w-1/3 px-2 mt-8" *ngFor="let i of [1, 2, 3]">
    <p-skeleton styleClass="mb-2" />
    <p-skeleton width="10rem" styleClass="mb-2" />
    <p-skeleton width="5rem" styleClass="mb-2" />
    <p-skeleton height="2rem" styleClass="mb-2" />
    <p-skeleton width="10rem" height="4rem" />
  </div>

  <div class="w-full lg:w-1/3 px-2 mt-8" *ngFor="let i of [1, 2, 3]">
    <p-skeleton styleClass="mb-2" />
    <p-skeleton width="10rem" styleClass="mb-2" />
    <p-skeleton width="5rem" styleClass="mb-2" />
    <p-skeleton height="2rem" styleClass="mb-2" />
    <p-skeleton width="10rem" height="4rem" />
  </div>
  <div class="w-full lg:w-1/3 px-2 mt-8" *ngFor="let i of [1, 2, 3]">
    <p-skeleton styleClass="mb-2" />
    <p-skeleton width="10rem" styleClass="mb-2" />
    <p-skeleton width="5rem" styleClass="mb-2" />
    <p-skeleton height="2rem" styleClass="mb-2" />
    <p-skeleton width="10rem" height="4rem" />
  </div>
  <div class="w-full lg:w-1/3 px-2 mt-8" *ngFor="let i of [1, 2, 3]">
    <p-skeleton styleClass="mb-2" />
    <p-skeleton width="10rem" styleClass="mb-2" />
    <p-skeleton width="5rem" styleClass="mb-2" />
    <p-skeleton height="2rem" styleClass="mb-2" />
    <p-skeleton width="10rem" height="4rem" />
  </div>
</div>
